In [17]:
import pandas as pd

# File to Load (Remember to Change These)
restaurant_data = "DOHMH_New_York_City_Restaurant_Inspection_Results.csv"
rat_data = "Rat_Sightings.csv"

restaurant_data = pd.read_csv(restaurant_data)
rat_data = pd.read_csv(rat_data)

restaurant_data.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE
0,40511702,NOTARO RESTAURANT,MANHATTAN,635,SECOND AVENUE,10016.0,2126863400,Italian,06/15/2015,Violations were cited in the following area(s).,02B,Hot food item not held at or above 140Âº F.,Critical,30.0,NaN,NaN,08/28/2017,Cycle Inspection / Initial Inspection
1,40511702,NOTARO RESTAURANT,MANHATTAN,635,SECOND AVENUE,10016.0,2126863400,Italian,11/25/2014,Violations were cited in the following area(s).,20F,Current letter grade card not posted.,Not Critical,NaN,NaN,NaN,08/28/2017,Administrative Miscellaneous / Initial Inspection
2,50046354,VITE BAR,QUEENS,2507,BROADWAY,11106.0,3478134702,Italian,10/03/2016,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructe...,Not Critical,2.0,NaN,NaN,08/28/2017,Pre-permit (Operational) / Initial Inspection
3,50061389,TACK'S CHINESE TAKE OUT,STATEN ISLAND,11C,HOLDEN BLVD,10314.0,7189839854,Chinese,05/17/2017,Violations were cited in the following area(s).,02G,Cold food item held above 41Âº F (smoked fish ...,Critical,46.0,NaN,NaN,08/28/2017,Pre-permit (Operational) / Initial Inspection
4,41516263,NO QUARTER,BROOKLYN,8015,5 AVENUE,11209.0,7187019180,American,03/30/2017,Violations were cited in the following area(s).,04M,Live roaches present in facility's food and/or...,Critical,18.0,NaN,NaN,08/28/2017,Cycle Inspection / Initial Inspection

In [29]:

restaurant_data_1 = restaurant_data.loc[restaurant_data["CRITICAL FLAG"] == "Critical",:]
# critical_violations_count = restaurant_data_1.groupby(restaurant_data_1["CAMIS"]).count()["CRITICAL FLAG"]
# restaurant_data_2 = pd.DataFrame(critical_violations_count)
restaurant_data_2 = rest
restaurant_data_2 = restaurant_data_2.reset_index()
restaurant_data_2 = restaurant_data_2.sort_values(by = ["CRITICAL FLAG"], ascending = False)
restaurant_data_2 = restaurant_data_2.drop_duplicates(["CAMIS"])
# len(restaurant_data_2)

# restaurant_data_2 = restaurant_data_1.sort_values(by= ,ascending = False)
# restaurant_data_2 = restaurant_data_2.drop_duplicates(["CAMIS"])

# restaurant_data_3 = pd.merge(restaurant_data_1,restaurant_data_2, on = "CAMIS")
# restaurant_data_3 = restaurant_data_3.drop_duplicates(["CAMIS"])
# restaurant_data_3 = 

restaurant_data_2

          CAMIS  CRITICAL FLAG
13833  50001880             63
10807  41630632             63
8875   41510846             63
11959  41683816             62
17589  50033122             58
...         ...            ...
22784  50057533              1
22786  50057547              1
20728  50047636              1
20726  50047633              1
21907  50053453              1

[24632 rows x 2 columns]